---
import Layout from "../layouts/Layout.astro";
import Guide from "../components/cards/Guide.astro";
import CardCompany2 from "../components/cards/CardCompany2.astro";
import SimpleCard from "../components/cards/SimpleCard.astro";
import BtnLink2 from "../components/shared/BtnLink2.astro";
import Form from "../components/vue/Form.vue";
import Form2 from "../components/vue/Form.astro";


// This function will receive the data from the React component

const HomeBG = 'https://res.cloudinary.com/dbju3llvz/image/upload/v1728299426/turst_review_jktkvr.webp'

interface data {
  id: number;
  name: string;
  result: any;
}
let astroData: data[] = [];
const API_URL = 'https://alltargeting.com/api/method/heero.flagedu.doctype.brokers.brokers.get_brokers';


// Fetch data before rendering the page
async function fetchData() {
  try {
    const response = await fetch(API_URL, {
      headers: {
        'Content-Type': 'application/json',
        Authorization: 'token a15c6600b1349e5:b43b28c461e8573',
      },
    });

    if (response.ok) {
      const result = await response.json();
      astroData = [result.message] || []; // Store the data fetched
    } else {
      console.error(`Failed to fetch data: ${response.status}`);
    }
  } catch (error) {
    console.error('Error fetching data:', error);
  }
}

await fetchData(); // Execute the fetch
---

  <Layout title="CouponsCopy" description={"كوبونز كوبي شريكك الموثوق للاستثمار والتعلم المالي . احصل علي مراجعات الوسطاء الغير متحيزة والتعلم من رؤى الخبراء انضم إلينا اليوم وابدأ رحلتك نحو النجاح ..."}> 
    <section class="home-brokers lg:text-2xl bg-gradient-to-r from-green-500 via-emerald-500 to-teal-500 h-60">
      <div class="overload flex flex-col lg:flex-row-reverse py-10 bg-emerald-300">
        <div class="home-brokers-content lg:w-1/2 m-auto px-2  lg:px-10">
          <h1 class="text-md font-bold mb-10 lg:text-4xl text-center">نساعدك في إختيار شركة التداول الأفضل لك عبر الإنترنت </h1>
          <p class="hidden md:block text-md">
            لقد التزم فريق موقع تقييمات كوبونز كوبي بمراجعة وتقييم شركات التداول وشركات الوساطة المالية بطريقة صارمة وغير متحيزة لأي شركة تداول، يتطلب اختيار أفضل شركة تداول الكثير من المهارات والابحاث.
          </p>
        
          <BtnLink2 text="فتح حساب" href="https://wa.me/201063588999" className="flex justify-center m-auto mt-5 w-10 min-w-32 md:min-w-52 sm:w-max" variant="primary"/>
        </div>
    </div>
      <!-- <CardCompany /> -->
    </section>
    <!-- Features Section -->
    <section class="best-brokers flex-col justify-center items-bet text-center md:flex-row">
      <h1 class="text-emerald-700 text-2xl lg:text-3xl text-center font-bold">أفضل شركات تداول مرخصة لعام 2024</h1>
      <div class="cards flex flex-col items-center">
        {astroData[0]["Brokers"].length > 0 ? astroData[0]["Brokers"].map((broker) => (
          
          <CardCompany2 broker={broker} />
        )) : ""}
      </div>
      
      <!-- ... rest of the section ... -->
    </section>

    <!-- helping Section -->
    <section class="helping bg-emerald-300">
      <h2 class="lg:text-4xl text-emerald-700 font-bold text-xl">مساعدة في اختيار وسيط تداول</h2>
      <div class="helping-item">
        <p class="lg:w-3/4 m-auto text-sm leading-8 lg:text-4xl text-emerald-900">
          مهمتنا هي تقديم مراجعات متعمقة وغير متحيزة لوسطاء الفوركس وشركات التداول، وإنشاء محتوى عالي الجودة حول صناعة التداول العالمية. منذ البداية، ساعد موقع تقييمات نور الالاف من المتداولين على مقارنة واختيار أفضل وسطاء الفوركس وعقود الفروقات.

          دعنا نساعدك على دخول عالم التداول مع شركة التداول الأنسب لك.
        </p>
        <BtnLink2 text="طلب استشارة مجانية" href="https://wa.me/201063588999" className="flex justify-center m-auto mt-5 w-1/2  min-w-52 sm:w-max" variant="primary"/>
      </div>
      
    </section>

    <!-- Trading Guide -->
    <section class="trading-guide text-center my-20">
      <h2 class="lg:text-5xl text-xl font-bold m-3 text-emerald-700">دليل التداول</h2>
      <p class="lg:mb-10 m-auto lg:w-1/2 lg:text-2xl text-lg w-4/5 mb-4 hidden md:block">
        يتعمق فريقنا من محترفين التداول في الأسواق المالية المحلية والعالمية والهيئات التنظيمية لمساعدتك في اختيار أفضل شركة تداول – أينما كنت تقيم.
      </p>
      <div class="cards-guide flex flex-col md:flex-row flex-wrap items-center justify-center">
        <Guide title="الكويت"/>
        <Guide title="السعودية"/>
        <Guide title="الامارات"/>
        <Guide title="مصر"/>
      </div>
      <div class="flex justify-center w-1/2 md:w-1/6 bg-emerald-200 text-emerald-700 text-lg mx-auto mt-4 h-10 items-center rounded-lg">
        <span class="material-symbols-outlined">
          arrow_left_alt
        </span>
        <a href="/brokers" class="text-xs">جميع شركات التداول</a>
      </div>
    </section>
    <!-- start section Company Trust -->
     <section class="company-trust mt-10 py-20 text-center">
        <h4 class="mb-20 lg:text-5xl font-bold lg:text-emerald-700">شركات التداول الأكثر ثقة</h4>
        <div class="cards flex flex-col md:flex-row items-center justify-around mb-5">
          {astroData[0]["Brokers"].length > 0 ? astroData[0]["Brokers"].map((broker) => (
          
          <SimpleCard broker={broker} />
        )) : ""}
        
        </div>
     </section>
     <section>
      <Form client:only="vue" />
      <!-- <Form2 /> -->
     </section>
  </Layout> 
<!--Start Css Section -->
<style>
  .cta-btn {
    background-color: #e74c3c;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .cta-btn:hover {
    background-color: #c0392b;
  }

  /* home-brokers Section Styles */
  .home-brokers {
    background-image: url('https://res.cloudinary.com/dbju3llvz/image/upload/v1728299426/turst_review_jktkvr.webp');
    background-size: cover;
    background-position: center  ;
    background-repeat: no-repeat;
    color: #000;
    margin-top:100px;
    padding: 100px 40px 50px;
    text-align: right;
    position: relative;
  }
 
  .home-brokers-content{
    margin-bottom: 60px;
    color: #fff;
  }
  .home-brokers-content a{
    margin: auto
  }
  .home-brokers .overload{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(37 38 38 / 96%);
    opacity: 0.9;
  }
  .hero-content{
    text-align:center;
    min-width: 200px
  }
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }

.best-brokers{
  padding-top: 60px;
  padding-bottom: 60px
}
.best-brokers h1{
    margin-bottom: 50px;
}


  /* helping Section */
  .helping {
    color: white;
    padding: 50px 20px;
    text-align: center;
  }

  .helping h2 {
  
    margin-bottom: 30px;
  }

  .helping-item {
    margin-bottom: 30px;
  }

  .helping-item p {
    font-size: 18px;
    font-style: italic;
  }

  .helping-item h3 {
    font-size: 16px;
    margin-top: 10px;
  }

  /* Medea */

  @media (min-width: 1024px) {
    .home-brokers {
        height:524px ;
    }
    .home-brokers-content h1{
      line-height: 4rem;
    }
}
</style>

<script>

//  async function  getData() {
//   try {
    
//    const response   = await fetch('https://alltargeting.com/api/method/heero.flagedu.doctype.brokers.brokers.get_brokers',
//    {
//     headers: {
//       "Content-Type": "application/json",
//       "Authorization":" token a15c6600b1349e5:b43b28c461e8573"

//     }
//    })
  
//    if(!response.ok ){
//     throw new Error(`Error: ${response.status} ${response.statusText}`)
//    }

//     const data = response.json()

//     data.then(res => console.log(res.message.Brokers  ))
    
//   } catch (error) {
//     console.log(error)
//   }
//   }
//   // getData();
</script>
<!--end Css Section -->


